#box{position: relative; width: 800px; height: 20px; margin:  10px 20px 0;}
#bg{height: 10px; margin-top: 10px; border: 1px solid #ddd; border-radius: 5px; overflow: hidden;}
#bgcolor{background: #5889B2; width: 0; height: 10px; border-radius: 5px;}
#bt{width: 15px; height: 15px; background: url(./img/button.png) no-repeat center center; border-radius: 17px; overflow: hidden; position: absolute; left: 0px; margin-left: -10px; top: -2px; cursor: pointer;}
#text{width: 58%;height:600px; margin: 0 20px; font-size: 16px; line-height: 2em;float: left}
#ProgressInf{margin: 0px 20px 20px 20px;}
#pointPosition{float: left;height:600px;width: 30%;}
.bg{background:#ff99cc !important;}
.selectedBox {
    /*background: #f00;*/
    border: 1px #2dff14 solid;
    width: 0px;
    height: 0px;
    position: absolute;
    opacity: 0.5;
}

.spanhide{display: none;}


.pixel{position: relative;width:4px;height:4px;background: red;z-index: 100}
.pixe2{position:relative;width:4px;height:4px;background: yellow;z-index: 101}